.top {
    background-color: #f53333;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial;
}

body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.slideshow {
    text-align: center;
    background-image: url("timealert.png");
}

.copyright {
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 20px;
    font-family: Arial;
    
}